{% extends 'navbar.html' %}

{% block head %}

<link href="static/css/homepage.css" rel="stylesheet" />

{% endblock %}

{% block body %}

{{ super() }}

<!-- H E R O -->

<section id="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-5 content-box hero-content">
          <span>Form Auto Complete Using OCR</span>
          <h1>Tired of Lengthy Forms?</h1>
          <p>We auto fill your form parsing your Resume</p>
          <a href="about-us" class="btn btn-regular">Learn more</a>
        </div>
        <div class="homepage col-lg-7 col-md-7 col-sm-7 col-xs-7">
          <img src="../static/images/banner.svg" class="img-fluid" alt="classification">
        </div>
        
      </div>
    </div>
  </section>
  
<!-- E N D  H E R O -->

{% endblock %}