{% extends 'navbar.html' %}

{% block head %}

    <link href="../static/css/parsed.css" rel="stylesheet" />

{% endblock %}

{% block body %}

{{super()}}

<!-- H E R O -->

<section id="hero">
    <div class="container">
    <h1>Parsed Resume</h1>
    <div class="mainform">
        <form id = "resumeForm" method = "GET" action="/success" enctype="multipart/form-data">
            <div class="mb-3 row">
                <label for="staticName" class="col-sm-2 col-form-label">Name: </label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="staticName" value="{{name}}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="staticEmail" value="{{email}}">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="contactNo" class="col-sm-2 col-form-label">Contact No.:</label>
                <div class="col-sm-10">
                  <input type="tel" class="form-control" id="contactNo" value = "{{contact}}">
                </div>
            </div>
            <button 
                type = "submit" 
                id = "submitNow" 
                class="btn btn-primary"
                style="float: right;">
                Submit
            </button>
        </form>
    </div>
    </div>
  </section>

<!-- E N D  H E R O -->  

{% endblock %}