{% extends 'navbar.html' %}

{% block head %}

<link href="static/css/about.css" rel="stylesheet" />

{% endblock %}

{% block body %}
<!-- H E R O -->
<section id="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-5 content-box hero-content">
          <span>Form Auto Complete Using OCR</span>
          <h1>Tired of Lengthy Forms?</h1>
          <p class="aboutText">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type specimen 
            book. It has survived not only five centuries, but also the leap into electronic 
            typesetting, remaining essentially unchanged. It was popularised in the 1960s with the 
            release of Letraset sheets containing Lorem Ipsum passages, and more recently with 
            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
        <div class="homepage col-lg-7 col-md-7 col-sm-7 col-xs-7">
          <img src="../static/images/about.svg" class="img-fluid" alt="classification">
        </div>
      </div>
    </div>
  </section>
<!-- E N D  H E R O -->

<hr>

<!-- T E A M -->
<section id = "team">
    <h1>Team Members</h1>
    <div class="row">
        <div class="col-3">
        <div class="card" style="width: 18rem;">
                <img src="../static/images/member.png" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Mustafa Bawany</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="../static/images/member.png" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Muhammad Yaseen</p>
                </div>
            </div>
        </div>
        
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="../static/images/member.png" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Ibad Saleem</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img src="../static/images/member.png" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text">Bilal Arshad</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>
<!-- E N D  T E A M -->

{% endblock %}