<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <!-- G O O G L E  F O N T S -->
  
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
   
    <!-- F O N T  A W E S O M E -->

    <script src="https://kit.fontawesome.com/93cf10263c.js" crossorigin="anonymous"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="../static/css/navbar.css" rel="stylesheet" />
    <link href="../static/css/footer.css" rel="stylesheet" />

    {% block head %}{% endblock %}
</head>

<body>
    {% block body %}
    
    <!-- N A V B A R -->

    <nav id="navbar" class="navbar navbar-default navbar-expand-lg fixed-top custom-navbar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon ion-md-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <div class="container">
            <a href="/">
            <img src="../static/images/Logo.png" class="img-fluid nav-logo-desktop" alt="Company Logo">
            </a>
            <ul class="navbar-nav ml-auto nav-right" data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
            <li class="nav-item nav-custom-link">
                <a class="nav-link" href="/">Home <i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
            </li>
            <li class="nav-item nav-custom-link">
                <a class="nav-link" href="/auto-complete">Auto Complete<i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
            </li>
            <li class="nav-item nav-custom-link">
                <a class="nav-link" href="/about-us">About Us<i class="icon ion-ios-arrow-forward icon-mobile"></i></a>
            </li>
            </ul>
        </div>
        </div>
    </nav>
    
    <!-- E N D  N A V B A R -->

    {% endblock %}

    <!-- F O O T E R -->

    {% block footer %}
    <footer id="footer">
        <i class="footer-icon fab fa-twitter"></i>
        <i class="footer-icon fab fa-facebook-f"></i>
        <i class="footer-icon fab fa-instagram"></i>
        <i class="footer-icon fas fa-envelope"></i>
        <p>© Copyright 2022 AutoFiller</p>
      </footer>
    {% endblock %}

    <!-- E N D  F O O T E R -->


<!-- B O O T S T R A P -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- F I R E B A S E  S D K -->
<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-storage.js"></script>


<!-- J A V A S C R I P T  F I L E S -->
<script src= "../static/config.js"></script>
<script defer src="../static/index.js"></script>

</body>

</html>