/* ==============================================
   G E N E R A L  S T Y L I N G
===============================================*/

section {
	padding: 100px 0px;
}

/* ==============================================
   S U C C E S S  S T Y L I N G
===============================================*/

#success h1{
    margin-top: 5px;
	font-size: 35px;
	margin-left: -2px;
	font-weight: 300;
}

.boundry{
    border-radius: 20px;
    margin: 0 50px;
    padding: 80px;
    background-color: #f6f8f9;
}